

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header
{
    width: 300px;
    height: 100px;
    background-color:#7FC7D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.fa-calculator
{
    margin-right: 20px;
    font-size: 2rem;
}
.sp
{
    background-color: #365486;
    color: white;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #DCF2F1;
}

button:hover {
    background-color: #86a6b7;
}